<!DOCTYPE html>
<html>
  <head>
    <title>Add Channel</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700|Roboto%20Condensed:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../index.css">
  </head>

  <body>
    <div id="header">
      <div class="itm brand">#youtube voting</div>
      <div class="expand"></div>
      <div class="itm">{{user.username}}</div>
      <div class="itm"><a href="lo">Log out</a></div>
    </div>

    <div id="body">

      <form action="/add" method="POST">
        <input name="url" placeholder="Full channel URL" />

        <button type="submit" class="btn">Let's do this!</button>
      </form>

    </div>
  </body>
</html>
